@use '@angular/material' as mat;

@import '../colors';

@include mat.core();

$angular-typography: mat.define-typography-config(
  $font-family: 'Roboto, "Helvetica Neue", sans-serif',
  $headline-1: mat.define-typography-level(24px, 38px, 400),
  $headline-2: mat.define-typography-level(20px, 34px, 400),
  $subtitle-1: mat.define-typography-level(20px, 34px, 400),
  $subtitle-2: mat.define-typography-level(18px, 30px, 400),
  $body-2: mat.define-typography-level(16px, 26px, 400),
  $body-1: mat.define-typography-level(16px, 26px, 400),
  $caption: mat.define-typography-level(inherit, 1.5, 400),
  $button: mat.define-typography-level(inherit, 1, 400),
);

$ntred: (
  100: var(--palette-accent-100),
  200: var(--palette-accent-200),
  300: var(--palette-accent-300),
  400: var(--palette-accent-400),
  500: var(--palette-accent-500),
  600: var(--palette-accent-600),
  700: var(--palette-accent-700),
  800: var(--palette-accent-800),
  900: var(--palette-accent-900),
  A100: var(--palette-accent-a100),
  A200: var(--palette-accent-a200),
  A400: var(--palette-accent-a400),
  A700: var(--palette-accent-a700),
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$ntviolette: (
  50: var(--palette-primary-50),
  100: var(--palette-primary-100),
  200: var(--palette-primary-200),
  300: var(--palette-primary-300),
  400: var(--palette-primary-400),
  500: var(--palette-primary-500),
  600: var(--palette-primary-600),
  700: var(--palette-primary-700),
  800: var(--palette-primary-800),
  900: var(--palette-primary-900),
  A100: var(--palette-primary-a100),
  A200: var(--palette-primary-a200),
  A400: var(--palette-primary-a400),
  A700: var(--palette-primary-a700),
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$angular-primary: mat.define-palette($ntviolette, 500, 100, 900);
$angular-accent: mat.define-palette($ntred, 500, 100, 900);

$angular-warn: mat.define-palette(mat.$red-palette);

$angular-default-theme: mat.define-dark-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
    ),
  )
);

@include mat.all-component-themes($angular-default-theme);

//@include mat.expansion-theme()
