:root {
  --palette-accent-100: #f8c7ca;
  --palette-accent-200: #f4a2a7;
  --palette-accent-300: #f07d83;
  --palette-accent-400: #ec6169;
  --palette-accent-500: #e9454e;
  --palette-accent-600: #e63e47;
  --palette-accent-700: #e3363d;
  --palette-accent-800: #df2e35;
  --palette-accent-900: #d91f25;
  --palette-accent-A100: #ffffff;
  --palette-accent-A200: #ffddde;
  --palette-accent-A400: #ffaaac;
  --palette-accent-A700: #ff9093;
  --palette-primary-50: #ebe9f3;
  --palette-primary-100: #cec8e0;
  --palette-primary-200: #ada4cb;
  --palette-primary-300: #8c7fb6;
  --palette-primary-400: #7463a7;
  --palette-primary-500: #5b4897;
  --palette-primary-600: #53418f;
  --palette-primary-700: #493884;
  --palette-primary-800: #40307a;
  --palette-primary-900: #2f2169;
  --palette-primary-A100: #b8a9ff;
  --palette-primary-A200: #8e76ff;
  --palette-primary-A400: #6443ff;
  --palette-primary-A700: #4f2aff;
  --palette-background-300: #424242;
  --palette-background-500: #303030;
}
